# Bu dosya, uygulamanın genel yapılandırma ayarlarını içerir.
# Ortam bağımsız ayarlar 
spring:
  datasource:
    master:
      url: jdbc:postgresql://postgres-master:5432/walletdb # Veritabanı URL'si
      driver-class-name: org.postgresql.Driver # PostgreSQL sürücüsü
      platform: postgres # Postgre veritabanı platformu. Kullanmak istediğiniz veritabanı türüne göre değiştirilebilir
      username: postgres #
      password: 12345 
    replica:
      url: jdbc:postgresql://postgres-replica:5433/walletdb # Replika
      username: postgres #
      password: 12345 
      driver-class-name: org.postgresql.Driver # PostgreSQL sürücüsü
      platform: postgres # Postgre veritabanı platformu. Kullanmak istediğiniz verit


  jpa:
    hibernate:
      ddl-auto: validate # Hibernate DDL otomatik güncelleme ayarı. validate yaptık çünkü tabloları Flyway ile biz oluşturacağız.
    show-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    clean-disabled: false

  cache:
    type: redis
  data:
    redis:
      host: redis
      port: 6379

# Exchange API
exchange:
  api:
    url: https://api.frankfurter.app
  rate:
    cache:
      ttl:
        hours: 6

resilience4j:
  circuitbreaker:
    instances:
      myService:
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 2
  retry:
    instances:
      myRetryService:
        max-attempts: 3
        wait-duration: 2s
  ratelimiter:
    instances:
      myRateLimitedService:
        limit-for-period: 5
        limit-refresh-period: 1s
        timeout-duration: 0
  thread-pool-bulkhead:
    instances:
      longCalls:
        core-thread-pool-size: 3        # core thread sayısı
        max-thread-pool-size: 5         # max thread sayısı (core'dan büyük veya eşit)
        queue-capacity: 10
      shortCalls:
        core-thread-pool-size: 5
        max-thread-pool-size: 10
        queue-capacity: 50

# Log ayarları
logging:
  level:
    root: WARN # default WARN
    com.web.demo: INFO # Sadece kendi package


management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      sampling:
        probability: 1.0
      endpoint: http://zipkin:9411/api/v2/spans