#Ortak genel ayarlar
# Bu dosya, uygulamanın genel yapılandırma ayarlarını içerir.
# Ortam bağımsız ayarlar burada tanımlanır.
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/walletdb # Veritabanı URL'si
    driver-class-name: org.postgresql.Driver # PostgreSQL sürücüsü
    platform: postgres # Postgre veritabanı platformu. Kullanmak istediğiniz veritabanı türüne göre değiştirilebilir
    username: postgres #
    password: 12345 
  jpa:
    hibernate:
      ddl-auto: validate # Hibernate DDL otomatik güncelleme ayarı. validate yaptık çünkü tabloları Flyway ile biz oluşturacağız.
    show-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true

# Log ayarları
logging:
  level:
    root: WARN # default WARN
    com.web.demo: INFO # Sadece kendi package

